.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25rem;
  background-image: url(../assets//shared/desktop/bg-beta.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 0 10rem;

  @include respond(tab-port) {
    padding: 0 5rem;
  }

  @include respond(phone) {
    padding: 3rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 35rem;
    background-image: url(../assets//shared/mobile/bg-beta.jpg);
  }

  &--beta {
    width: 35%;
    font-size: 2.5rem;

    @include respond(tab-port) {
      width: 40%;
      font-size: 1.7rem;
    }

    @include respond(phone) {
      width: 100%;
      font-size: 2.5rem;
    }
  }

  & .footer--invite {
    padding-right: 1rem;

    @include respond(phone) {
      align-items: center;
      padding-left: 0.8rem;
    }
  }
}
