@mixin headerContainerInfo($color) {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color;
  text-align: left;
  flex-basis: 45%;

  @include respond(phone) {
    padding: 10rem 0;
  }

  @include respond(tab-port) {
    flex-basis: 100%;
    padding: 15rem 0;
  }
}

@mixin headerContainerTitle($color) {
  color: $color;
  margin: 0 10rem;
  font-size: 4rem;
  letter-spacing: 0.32rem;

  @include respond(tab-port) {
    margin: 0 25rem;
  }

  @include respond(phone) {
    margin: 0 5rem;
  }
}

@mixin headerContainerPara($color) {
  color: rgba($color, 0.6);
  text-align: left;
  margin: 2rem 10rem;
  font-size: 2rem;

  @include respond(tab-port) {
    margin: 4rem 20rem;
  }
  @include respond(phone) {
    margin: 4rem 5rem;
  }
}

@mixin headerContainerImg($url) {
  background-image: $url;
  flex-basis: 55%;
  background-repeat: no-repeat;
  background-size: cover; // Ensure the image always covers the entire div
  background-position: center; // Center the image
  position: relative; // Add this line

  &:before {
    content: "";
    display: block;
    padding-top: 80%;
  }

  &:after {
    content: "";
    display: block;
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover; // Ensure the image always covers the entire div
    background-position: center; // Center the image
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin invite-styles($color) {
  display: flex;
  color: $color;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  & img {
    padding-left: 0.5rem;
    transition: all 0.3s ease-in-out;
  }

  &:hover img {
    padding: 0 1rem;
  }
}

@mixin btn-styles($bg-color) {
  padding: 1.25rem 2.5rem;
  position: relative;
  background-color: $bg-color;
  top: 0;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 400;
  transition: all ease-in-out 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba($bg-color, 0.75);
    top: -2px;
  }
  &:active {
    top: 1px;
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == iphone {
    @media (max-width: 23.4375em) {
      @content;
    }
  }

  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == med-desk {
    @media (min-width: 74.375em) and (max-width: 85.9375em) {
      @content;
    }
  }
  @if $breakpoint == big-desk {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
